@font-face {
	font-family: nb;
	src: url(./assets/fonts/NBInternationalProBook.woff2);
}

@font-face {
	font-family: formulaCondensed;
	src: url(./assets/fonts/FormulaCondensed-Bold.woff);
}

@font-face {
	font-family: molitor;
	src: url(./assets/fonts/molitor-displaybold-webfont.woff);
}

::-webkit-scrollbar{
	width: 5px;
	border-radius: 10px;
}
::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0);
}
::-webkit-scrollbar-thumb {
    background-color: rgb(54, 54, 54); 
	border-radius: 10px;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	position: relative;
	cursor: none;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

.cursor-dot{
	width: 5px;
	height: 5px;
	background-color: white;
}

.cursor-outline{
	width: 45px;
	height: 45px;
	border: 2px solid hsla(0, 0%, 100%, 0.5);
}

.cursor-dot, .cursor-outline{
	position: fixed;
	top: 0;
	left: 0;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	z-index: 999999;
	opacity: 0;
	pointer-events: none;
}

.hidden{
	display: none;
}

.visible{
	display: flex;
}

a {
	text-decoration: none;
}

main {
	width: 100%;
	position: relative;
}

.loader {
	position: absolute;
	top: 0%;
	height: 100vh;
	width: 100%;
	display: flex;
	z-index: 999;
	font-family: nb;
}

.loader .box {
	height: 100%;
	width: 20%;
	border: none;
	background-color: rgb(23, 24, 26);
}


.dark1 {
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.dark1 p {
	transform: translateY(-1vw);
	font-size: 20px;
	color: #e4e1d9;
	font-family: nb;
}

.dark3 {
	display: flex;
	justify-content: center;
	align-items: center;
}
.dark3 img {
	object-fit: cover;
}

.dark5 {
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.dark5 p {
	font-size: 7vw;
	color: #e4e1d9;
	font-family: nb;
}

.heroSection{
	position: relative;
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.videoDiv {
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	position: absolute;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(
		0,
		0,
		0,
		0.65
	); /* Adjust the alpha value to change the opacity */
}

video {
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
	object-position: center;
}

nav {
	width: 100%;
	height: fit-content;
	padding: 3% 1%;
	display: flex;
	position: relative;
	align-items: center;
	flex-grow: 0;
	justify-content: space-between;
}

.nav-columns {
	display: flex;
	gap: 50px;
	align-items: center;
}

.logo{
	width: 80px;
	height: 80px;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
}
.logo img {
	height: 6vw;
	object-fit: cover;
}

.mob-logo{
	width: 60px;
	height: 70px;
	display: none;
}
.mob-logo img {
	width: 100%;
	height: 100%;
	object-position: center;
	object-fit: cover;
}

.nav-links {
	display: flex;
	gap: 50px;
	height: 30px;
}

.nav-links a {
	color: rgb(190, 200, 199);
	font-family: formulaCondensed;
	letter-spacing: 1.5px;
	font-size: 25px;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
}

.nav-links .text-rolling .block:nth-child(2) {
	color: rgb(190, 200, 199);
}

#menuBtn{
    width: 110px;
    height: 40px;
    background-color: #dadada;
     position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 2px;
    cursor: pointer;
	z-index: 99;
    display: flex;
    justify-content: space-between;
}

.left{
    width: 43%;
    height: 100%;
    background-color: #001514;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2px;
    border-radius: 1px;
    border: 1px solid #dadada;
}


.left .line{
    height: 2px;
    width: 38%;
    background-color: #FFFF00;
    transition: cubic-bezier(0.19, 1, 0.22, 1) .4s;
}

.right{
    width:57%;
    height: 100%;
    padding:8px;
    padding-left: 12px;
}
.right h4{
	height: 20px;
    text-transform: uppercase;
    font-family: formulaCondensed;
    font-size: 20px;
	font-weight: 100;
    letter-spacing: 1px;
    color: #001514;

}

.fa-magnifying-glass {
	color: white;
	font-size: 22px;
}
/* Hamburger Menu */

.menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	/* background-color: rgb(199, 244, 151); */
	background-color: #baea54;
	clip-path: polygon(
		49.75% 49.75%,
		50.25% 49.75%,
		50.25% 49.75%,
		49.75% 50.25%
	);
	pointer-events: none;
	opacity: 0;
	z-index: 9999;
}


/* Hamburger Menu */


/* Navigation Head */
.navigation-head {
	display: flex;
	justify-content: space-between;
	height: 13%;
	padding-left: 1vw;
	padding-right: 1vw;
}

.navigation-head p {
	padding: 3vw;
	padding-left: 3.1vw;
	color: #504e4e;
}

.seperator-line {
	width: 93.5%;
	margin-left: 4vw;
	margin-right: auto;
	height: 0.1vh;
	background-color: #222222;
}

/* Navigation-Content */

.navigation-content {
	display: flex;
	gap: 18%;
	height: 47%;
	width: 100%;
	padding-top: 2vw;
	padding-left: 4vw;
}

.nav-text {
	opacity: 0;
}

.nav-text a {
	color: #000000;
	font-size: 3vw;
}

/* Hero section  */

.hero-text{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}


.hero-text h1{
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: linear-gradient(#878787,#1b1b1b );
	transform: translateY(100px);
  	font-size: 120px;  
	text-transform: uppercase;
	font-family: molitor;
  	letter-spacing: 15px;
	line-height: 1.1;
  	font-weight: 900;  
	-webkit-text-fill-color:transparent ;
	-webkit-background-clip:text ;
} 

 
.column1 {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	margin-top: 1.3vw;
}

.column2 {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-top: 2vw;
}

.column3 {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	margin-top: 3vw;
}

/* End-menu */
.video-socials {
	height: 47%;
	width: 100%;
	padding: 3vw 1vw 0 4vw;
	display: flex;
	gap: 15vw;
}
.video-socials video {
	height: 63%;
	width: 100%;
	object-fit: cover;
	margin-top: 3vw;
	border-radius: 7px;
}

.video-section {
	width: 23%;
	height: 100%;
}

.video-section p {
	padding-top: 1vw;
}

.playreel {
	display: flex;
	justify-content: space-between;
}

.playreel img {
	margin-top: 1vw;
}

/* Socials */

.socials p {
	margin-top: 5vw;
	padding-bottom: 1.5vw;
	padding-left: 3.1vw;
	color: #504e4e;
}

.links-division {
	display: flex;
	justify-content: space-between;
	gap: 4vw;
	margin-left: 3.2vw;
}

.links-left-right {
	display: flex;
	flex-direction: column;
}

.links-division img {
	height: 0.7vw;
}

.links-division a span {
	display: inline-block;
	transition: all 0.3s ease-in-out;
}

/* Hover effect to rotate the image by 45 degrees */
.links-division a:hover span {
	transform: rotate(45deg);
}

.links-left-right a {
	font-size: 1.3vw;
	color: #222222;
}

/* nav Logo */

.logo-img {
	height: 65%;
	width: 19%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2vw;
	margin-left: 1vw;
}

/* Rolling Text Effect */

.text-rolling {
	display: inline-block;
	overflow: hidden;
}

.text-rolling:hover .letter,
.text-rolling.play .letter {
	transform: translateY(-125%);
	overflow: hidden;
}

#menuBtn:hover .letter,
.text-rolling.play .letter {
	transform: translateY(-125%);
	overflow: hidden;
}

/* .block{
	color: white;
} */
.nav-links a .block:nth-child(2) .letter{
	color: white;
	text-decoration: underline;
	text-underline-offset: 5px;
}
/* .text-rolling .block:last-child {
	color: #000000;
} */

.text-rolling .letter {
	display: inline-block;
	transition: transform 0.35s cubic-bezier(0.76, 0, 0.24, 1);
	overflow: hidden;
}
.text-rolling:hover{
	text-decoration: underline;
}


.letter:nth-child(1) {
	transition-delay: 0s;
}
.letter:nth-child(2) {
	transition-delay: 0.015s;
}
.letter:nth-child(3) {
	transition-delay: 0.03s;
}
.letter:nth-child(4) {
	transition-delay: 0.045s;
}
.letter:nth-child(5) {
	transition-delay: 0.06s;
}
.letter:nth-child(6) {
	transition-delay: 0.075s;
}
.letter:nth-child(7) {
	transition-delay: 0.09s;
}
.letter:nth-child(8) {
	transition-delay: 0.105s;
}
.letter:nth-child(9) {
	transition-delay: 0.12s;
}
.letter:nth-child(10) {
	transition-delay: 0.135s;
}
.letter:nth-child(11) {
	transition-delay: 0.15s;
}
.letter:nth-child(12) {
	transition-delay: 0.165s;
}
.letter:nth-child(13) {
	transition-delay: 0.18s;
}

.letter:nth-child(14) {
	transition-delay: 0.195s;
}

.letter:nth-child(15) {
	transition-delay: 0.21s;
}

.letter:nth-child(16) {
	transition-delay: 0.225s;
}

.letter:nth-child(17) {
	transition-delay: 0.25s;
}

.letter:nth-child(18) {
	transition-delay: 0.255s;
}

/* Column 1 Width Adjustment */

.column1 a:nth-child(1).text-rolling {
	width: 75%;
}

.column1 a:nth-child(2).text-rolling {
	width: 63%;
}

.column1 a:nth-child(3).text-rolling {
	width: 95%;
}

.column1 a:nth-child(4).text-rolling {
	width: 100%;
}

.column1 a:nth-child(5).text-rolling {
	width: 58%;
}

/* Column 2 Width Adjustment */

.column2 a:nth-child(1).text-rolling {
	width: 57%;
}

.column2 a:nth-child(2).text-rolling {
	width: 58%;
}

.column2 a:nth-child(3).text-rolling {
	width: 100%;
}

.column2 a:nth-child(4).text-rolling {
	width: 59%;
}

.column2 a:nth-child(5).text-rolling {
	width: 67%;
}

/* Column 3 Width Adjustment */

.column3 a:nth-child(1).text-rolling {
	width: 60%;
}

.column3 a:nth-child(2).text-rolling {
	width: 70%;
}

.column3 a:nth-child(3).text-rolling {
	width: 90%;
}

.column3 a:nth-child(4).text-rolling {
	width: 100%;
}

.column3 a:nth-child(5).text-rolling {
	width: 100%;
}

.secondSection{
	background-color: rgb(92, 34, 12);
	width: 100%;
 	min-height: 100vh;
	justify-content: center;
	align-items: end;
	position: relative;
}

.overlay2{
	width: 100%;
	height: 300px;
	background: linear-gradient(#000, rgb(92, 34, 12));
	position: absolute;
	top: 0;
	z-index: 50;
}

.carTitle{
	width: 100%;
	height: fit-content;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	z-index: 80;
	top: -7%;
}

.carTitle h1{
	font-size: 380px;
	color: #fff;
}

.carSlider{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 250;
	position: relative;
	--position: 50%;
	overflow: hidden;
}
  
.image-container{
	width: 100%;
}
  
.slider-image{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: left;
}

img{
	display: block;
	max-width: 100%;
}
  
.image-before{
	 position: absolute;  
	inset: 0;
	width: var(--position);
}
  
.slider{
	position: absolute;
	inset: 0;
	cursor: pointer;
	opacity: 0;
	width: 100%;
	height: 100%;
}
  
.slider:focus-visible ~ .slider-button{
	outline: 5px solid black;
	outline-offset: 3px;
}
  
.slider-line{
	position: absolute;
	inset: 0;
	width: .1rem;
	height: 100%;
	background-color: transparent;
	z-index: 10;
	left: var(--position);
	transform: translateX(-50%);
	pointer-events: none;
}
  
.slider-button{
	position: absolute;
	background-color: #fff;
	color: black;
	padding: .2rem;
	border-radius: 100vw;
	display: grid;
	place-items: center;
	top: 55%;
	left: var(--position);
	transform: translate(-50%,-50%);
	pointer-events: none;
	z-index: 100;
	box-shadow: 1px 1px 1px hsl( 0,  50%,  2%, .5);
}

.thirdSection{
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
	position: relative;
}

.info{
	display: flex;
	position: relative;
	width: 600px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 190px;
}
/* 
.info h1{
	text-align: center;
	font-size: 4em;
	font-family: 'Syne', sans-serif;
	color: white;
} */

.text-area{
	position: absolute;
	/* text-align: center; */
	font-size: 45px;
	font-family: 'Syne', sans-serif;
	color: white;
	left: 12%;
	opacity: 0.2;
}

.text-area-hover{
	left: 12%;
	position: absolute;
	/* text-align: center; */
	font-size: 45px;
	font-family: 'Syne', sans-serif;
	color: white;
	width: 0%;
	white-space: nowrap;
	overflow: hidden;
	opacity: 1;
}

.info button{
    padding: 16px 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 12px;
	border: 1px solid black;
	color: black;
    background-color: #FFCC00;
    border-radius: 14px;
	font-size: 18px;
	font-family: 'Syne', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.2px;
	cursor: pointer;
    position: relative;
	z-index: 80;
    overflow: hidden;
	transition: color 5.8s ease;
	transition: background-color 0.8s ease;
}

.info button::after{
    content: "";
    width: 100%;
	z-index: -20;
    height: 100%;
	border: 1px solid black;
    background-color: black;
    font-weight: 700;
    position: absolute;
    left: -110%;
    bottom: 0;
    transition: all 0.5s ease;
}
.info button:hover{
    color: white;
	background-color: white;
}
.info button:hover::after{
    left: 0;
}

/* .container{
	width: 100%;
	height: 1200vh;
	background-color: black;
	position: relative;
}

.wrapper-404{
	position: absolute;
	top: 0;
	width: 400vw;
	height: 100vh;
	will-change: transform;
}

.wrapper-404 h1{
	width: 100%;
	color: white;
	font-size: 48vw;
	text-align: center;
}

.outro{
	position: absolute;
	top: 150vh;
	width: 100%;
	height: 100vh;
}

.outro h1{
	position: absolute;
	color: white;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: max-content;
	font-size: 40px;
	font-weight: lighter;
	text-align: center;
} */