@font-face {
	font-family: nb;
	src: url(./assets/fonts/NBInternationalProBook.woff2);
}

@font-face {
	font-family: formulaCondensed;
	src: url(./assets/fonts/FormulaCondensed-Bold.woff);
}

@font-face {
	font-family: molitor;
	src: url(./assets/fonts/molitor-displaybold-webfont.woff);
}

@font-face {
	font-family: Pp;
	src: url(assets/fonts/ppneuemontrealMedium.woff2);
}

@font-face {
	font-family: Pp2;
	src: url(assets/fonts/ppneuemontrealBook.woff2);
}

@font-face {
	font-family: grotesk;
	src: url(assets/fonts/PPRightGrotesk-CompactDark.woff2);
}

@font-face {
	font-family: Neue;
	src: url(assets/fonts/NeueHaasDisplayBold.woff2);
}

@font-face {
	font-family: nuckle;
	src: url(assets/fonts/Nuckle-Medium.woff2);
}

@font-face {
	font-family: grotesk2;
	src: url(assets/fonts/RightGrotesk-Medium.otf);
}

::-webkit-scrollbar {
	width: 5px;
	border-radius: 10px;
	display: none;
}
.show-scrollbar::-webkit-scrollbar {
	display: block;
}
::-webkit-scrollbar-track {
	background-color: #0e0e0c;
}
::-webkit-scrollbar-thumb {
	background-color: rgb(54, 54, 54);
	border-radius: 10px;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

::selection {
	color: orangered;
	background-color: transparent;
}

html,
body {
	width: 100%;
	position: relative;
	cursor: none;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

.cursor-dot {
	width: 5px;
	height: 5px;
	background-color: white;
}

.cursor-outline {
	width: 45px;
	height: 45px;
	border: 2px solid hsla(0, 0%, 100%, 0.5);
}

.cursor-dot,
.cursor-outline {
	position: fixed;
	top: 0;
	left: 0;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	z-index: 999999;
	opacity: 0;
	pointer-events: none;
}

/* .hidden {
	display: none;
}

.visible {
	display: flex;
} */

a {
	text-decoration: none;
}

main {
	width: 100%;
	position: relative;
	background-color: #0e0e0c;
}

.progressBar {
	top: 0;
	left: 0;
	z-index: 99999;
	position: fixed;
	width: 100%;
	height: 0.2vw;
}

.filled {
	width: 0%;
	height: 100%;
	background-color: orangered;
}

.loader {
	position: fixed;
	top: 0%;
	height: 100vh;
	width: 100%;
	display: flex;
	z-index: 999;
	font-family: nb;
}

.loader .box {
	height: 100%;
	width: 20%;
	border: none;
	background-color: rgb(23, 24, 26);
}

.dark1 {
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.dark1 p {
	transform: translateY(-1vw);
	font-size: 20px;
	color: #e4e1d9;
	font-family: nb;
}

.dark3 {
	display: flex;
	justify-content: center;
	align-items: center;
}
.dark3 img {
	object-fit: cover;
}

.dark5 {
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.dark5 p {
	font-size: 7vw;
	color: #e4e1d9;
	font-family: nb;
}

.heroSection {
	position: relative;
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.videoDiv {
	top: 0;
	left: 0;
	/* z-index: -1; */
	z-index: 2;
	width: 100%;
	height: 100%;
	position: absolute;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(
		0,
		0,
		0,
		0.65
	); /* Adjust the alpha value to change the opacity */
}

video {
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
	object-position: center;
}

/* nav {
	width: 100%;
	height: fit-content;
	padding: 3% 2%;
	display: flex;
	position: relative;
	align-items: center;
	flex-grow: 0;
	justify-content: space-between;
} */

nav {
	width: 97%;
	margin: auto;
	height: fit-content;
	padding: 0 1%;
	display: flex;
	position: fixed;
	z-index: 999;
	align-items: center;
	flex-grow: 0;
	justify-content: space-between;
	background-color: rgba(218, 218, 218, 0.748);
	height: 4vw;
	margin-top: 0.2vw;
	border-radius: 0.6vw;
	backdrop-filter: blur(5px);
}

.nav-columns {
	display: flex;
	gap: 50px;
	align-items: center;
}

/* .logo {
	width: 80px;
	height: 80px;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
}
.logo img {
	height: 6vw;
	object-fit: cover;
} */

.logo {
	width: 80px;
	height: 80px;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo img {
	height: 3.9vw;
	object-fit: cover;
}

.mob-logo {
	width: 60px;
	height: 70px;
	display: none;
}
.mob-logo img {
	width: 100%;
	height: 100%;
	object-position: center;
	object-fit: cover;
}

.nav-links {
	display: flex;
	gap: 5vw;
	height: 2vw;
}

/* .nav-links a {
	color: rgb(190, 200, 199);
	font-family: formulaCondensed;
	letter-spacing: 1.5px;
	font-size: 25px;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
}

.nav-links .text-rolling .block:nth-child(2) {
	color: rgb(190, 200, 199);
} */

.nav-links a {
	color: #222222;
	font-family: formulaCondensed;
	letter-spacing: 1.5px;
	font-size: 1.6vw;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	font-weight: 100;
}

.nav-links .text-rolling .block:nth-child(2) {
	color: #222222;
}

/* #menuBtn {
	width: 110px;
	height: 40px;
	background-color: #dadada;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 2px;
	cursor: pointer;
	z-index: 99;
	display: flex;
	justify-content: space-between;
} */

#menuBtn {
	width: 110px;
	height: 40px;
	background-color: #dadada;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 2px;
	cursor: pointer;
	z-index: 9999;
	display: flex;
	justify-content: space-between;
}

.left {
	width: 43%;
	height: 100%;
	background-color: #001514;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 2px;
	border-radius: 1px;
	border: 1px solid #dadada;
}

.left .line {
	height: 2px;
	width: 38%;
	background-color: #ffff00;
	transition: cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
}

.right {
	width: 57%;
	height: 100%;
	padding: 8px;
	padding-left: 12px;
}
.right h4 {
	height: 20px;
	text-transform: uppercase;
	font-family: formulaCondensed;
	font-size: 20px;
	font-weight: 100;
	letter-spacing: 1px;
	color: #001514;
}

.fa-magnifying-glass {
	color: white;
	font-size: 22px;
}
/* Hamburger Menu */

.menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	/* background-color: rgb(199, 244, 151); */
	background-color: #001514;
	clip-path: polygon(
		49.75% 49.75%,
		50.25% 49.75%,
		50.25% 49.75%,
		49.75% 50.25%
	);
	pointer-events: none;
	opacity: 0;
	display: flex;
	padding: 1vw 0;
	flex-direction: column;
	justify-content: space-between;
	z-index: 9999;
}

/* Hamburger Menu */

.nav-head {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 94.5%;
	gap: 0.5vw;
	margin: 0 auto;
}

/* Navigation Head */
.navigation-head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.navigation-head p {
	font-size: 1.3vw;
	color: #c0cac9;
	font-family: grotesk;
}

.closeBtn {
	display: flex;
	display: flex;
	justify-content: end;
	height: 5vw;
	width: 5vw;
}
.closeBtn img {
	width: 60%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.seperator-line {
	width: 100%;
	height: 1px;
	background-color: #e1e0e0;
}

/* Navigation-Content */

.navigation-content {
	display: flex;
	gap: 18%;
	height: fit-content;
	width: 100%;
	padding-top: 2vw;
	padding-left: 4vw;
}

.nav-text {
	opacity: 0;
	/* background-color: red; */
}

.nav-text a {
	color: #c0cac9;
	font-size: 3vw;
	font-family: Pp;
	line-height: 3.3vw;
}

.column1 {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	margin-top: 1vw;
	height: 18vw;
	color: white;
}

.column2 {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-top: 3.6vw;
	height: 18vw;
}

.column3 {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	margin-top: 6.1vw;
	height: 18vw;
}

.mobileNav-content {
	display: none;
}

/* End-menu */
.video-socials {
	height: fit-content;
	width: 94.5%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	gap: 15vw;
	justify-content: space-between;
}

/* Socials */

.socials {
	display: flex;
	flex-direction: column;
	gap: 2vw;
}

.socials p {
	font-size: 1.2vw;
	color: #c0cac9;
	font-family: grotesk;
}

.links-division {
	display: flex;
	justify-content: space-between;
	gap: 4vw;
}

.links-left-right {
	display: flex;
	flex-direction: column;
}

.links-division img {
	height: 0.7vw;
}

.links-division a span {
	display: inline-block;
	transition: all 0.3s ease-in-out;
}

/* Hover effect to rotate the image by 45 degrees */
.links-division a:hover span {
	transform: rotate(45deg);
}

.links-left-right a {
	font-size: 1.3vw;
	/* color: #222222; */
	color: #c0cac9;
	font-family: Pp2;
}

/* nav Logo */

.logo-img {
	height: 12vw;
	width: 11vw;
}

.logo-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

/* Hero section  */
.hero-tagline {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: flex-end;
	padding-right: 7vw;
	padding-top: 7vw;
	color: #dadada;
	text-align: center;
	/* border: 1px solid blue; */
	font-family: nuckle;
}

.hero-tagline p {
	font-family: nuckle;
}
.hero-tagline p:nth-child(2) {
	margin-right: 28px;
}
.hero-tagline p:nth-child(3) {
	margin-right: 12px;
}

.cover-heroText {
	transition: all 4s ease-in-out;
}

/* .hero-text{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
} */
.hero-text {
	display: flex;
	flex-direction: column;
	margin-top: 2vw;
	/* background-color: red; */
	height: 40vw;
	position: relative;
	/* border: 1px solid yellow; */
}

.bounding {
	width: fit-content;
	background-color: transparent;
	overflow: hidden;
}

.boundingelem {
	transform: translateY(100%);
}

/* .hero-text h1{
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: linear-gradient(#878787,#1b1b1b );
	transform: translateY(100px);
  font-size: 120px;  
	text-transform: uppercase;
	font-family: molitor;
  letter-spacing: 15px;
	line-height: 1.1;
  font-weight: 900;  
	-webkit-text-fill-color:transparent ;
	-webkit-background-clip:text ;
}  */

.hero-text h1 {
	display: flex;
	flex-direction: column;
	color: #e4e1d9;
	/* transform: translateY(100px); */
	font-size: 120px;
	text-transform: uppercase;
	font-family: molitor;
	line-height: 165px;
	font-weight: 900;
	margin-right: 16vw;
}

.hero-text h1:nth-child(1) {
	font-family: grotesk;
	font-size: 11vw;
	position: absolute;
	z-index: 4;
}

.hero-text h1:nth-child(2) {
	font-family: Neue;
	font-size: 12.1vw;
	z-index: 4;
	margin-top: 10.5vw;
	/* position: absolute; */
}

.hero-video {
	position: absolute;
	height: 17vw;
	width: 100%;
	z-index: 2;
	margin-top: -17.5vw;
}
.hero-video video {
	height: 100%;
	width: 35%;
	border-radius: 10px;
	position: absolute;
	right: 0;
	z-index: 2;
}

/* #circle {
  top: -7%;
  left: -3%;
  position: relative;
  width: 52vw;
  z-index: 99;
  background-color: #ff7f7f;
	 
}

#circle text {
  font-family: formulaCondensed , Arial;
  font-size: 17px;

}

#circle svg {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 18vw;
  text-transform: uppercase;
	opacity: .5;
	word-spacing: 5px;
	letter-spacing: 1.2px;

  animation-name: rotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(0);
  }
} */

.circle-text {
	position: relative;
	z-index: 999;
	/* top: -4%;
	left: -1%; */
	width: 12vw;
	height: 12vw;
}

.circle-text svg {
	position: absolute;
	top: 0;
	left: 0;
	scale: 1.3;
	width: 100%;
	height: 100%;
}

.circle-text text {
	fill: white;
	font-family: formulaCondensed;
	font-size: 15.8px;
	text-transform: uppercase;
	opacity: 0.5;
	word-spacing: 5px;
	letter-spacing: 1.2px;
}

.circle-text i {
	color: white;
	opacity: 0.5;
	font-size: 30px;
}

.rotating-text {
	animation: rotate 10s linear infinite;
	transform-origin: center;
}

.arrow {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: bounce 3s infinite;
}

@keyframes bounce {
	0% {
		transform: translate(-50%, -50%) translateY(0);
		animation-timing-function: ease-out;
	}
	20% {
		transform: translate(-50%, -50%) translateY(-20px);
		animation-timing-function: ease-in;
	}
	40% {
		transform: translate(-50%, -50%) translateY(0);
		animation-timing-function: ease-out;
	}
	60% {
		transform: translate(-50%, -50%) translateY(-15px);
		animation-timing-function: ease-in;
	}
	80% {
		transform: translate(-50%, -50%) translateY(0);
		animation-timing-function: ease-out;
	}
	90% {
		transform: translate(-50%, -50%) translateY(-4px);
		animation-timing-function: ease-in;
	}
	100% {
		transform: translate(-50%, -50%) translateY(0);
	}
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/* Rolling Text Effect */

.text-rolling {
	display: inline-block;
	overflow: hidden;
}

.text-rolling:hover .letter,
.text-rolling.play .letter {
	transform: translateY(-125%);
	overflow: hidden;
}

#menuBtn:hover .letter,
.text-rolling.play .letter {
	transform: translateY(-125%);
	overflow: hidden;
}

/* .nav-links a .block:nth-child(2) .letter {
	color: white;
	text-decoration: underline;
	text-underline-offset: 5px;
} */
.nav-links a .block:nth-child(2) .letter {
	color: #222222;
	text-decoration: underline;
	text-underline-offset: 0.2vw;
}

.text-rolling .letter {
	display: inline-block;
	transition: transform 0.35s cubic-bezier(0.76, 0, 0.24, 1);
	overflow: hidden;
}
.text-rolling:hover {
	text-decoration: underline;
}

.letter:nth-child(1) {
	transition-delay: 0s;
}
.letter:nth-child(2) {
	transition-delay: 0.015s;
}
.letter:nth-child(3) {
	transition-delay: 0.03s;
}
.letter:nth-child(4) {
	transition-delay: 0.045s;
}
.letter:nth-child(5) {
	transition-delay: 0.06s;
}
.letter:nth-child(6) {
	transition-delay: 0.075s;
}
.letter:nth-child(7) {
	transition-delay: 0.09s;
}
.letter:nth-child(8) {
	transition-delay: 0.105s;
}
.letter:nth-child(9) {
	transition-delay: 0.12s;
}
.letter:nth-child(10) {
	transition-delay: 0.135s;
}
.letter:nth-child(11) {
	transition-delay: 0.15s;
}
.letter:nth-child(12) {
	transition-delay: 0.165s;
}
.letter:nth-child(13) {
	transition-delay: 0.18s;
}

.letter:nth-child(14) {
	transition-delay: 0.195s;
}

.letter:nth-child(15) {
	transition-delay: 0.21s;
}

.letter:nth-child(16) {
	transition-delay: 0.225s;
}

.letter:nth-child(17) {
	transition-delay: 0.25s;
}

.letter:nth-child(18) {
	transition-delay: 0.255s;
}

/* Column 1 Width Adjustment */

.column1 a:nth-child(1).text-rolling {
	width: 75%;
}

.column1 a:nth-child(2).text-rolling {
	width: 67%;
}

.column1 a:nth-child(3).text-rolling {
	width: 95%;
}

.column1 a:nth-child(4).text-rolling {
	width: 100%;
}

.column1 a:nth-child(5).text-rolling {
	width: 58%;
}

/* Column 2 Width Adjustment */

.column2 a:nth-child(1).text-rolling {
	width: 57%;
}

.column2 a:nth-child(2).text-rolling {
	width: 58%;
}

.column2 a:nth-child(3).text-rolling {
	width: 100%;
}

.column2 a:nth-child(4).text-rolling {
	width: 59%;
}

.column2 a:nth-child(5).text-rolling {
	width: 67%;
}

/* Column 3 Width Adjustment */

.column3 a:nth-child(1).text-rolling {
	width: 60%;
}

.column3 a:nth-child(2).text-rolling {
	width: 70%;
}

.column3 a:nth-child(3).text-rolling {
	width: 90%;
}

.column3 a:nth-child(4).text-rolling {
	width: 100%;
}

.column3 a:nth-child(5).text-rolling {
	width: 100%;
}

/* model slider */
.modelSlider {
	width: 100vw;
	height: 100vh;
	margin-top: 7vw;
	position: relative;
	font-family: "Big Shoulders Text";
}

.modelSlider img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.sectionTitle h1 {
	padding-left: 35px;
	color: white;
	font-family: "Oswald";
	text-transform: uppercase;
	font-size: 35px;
}

.slide-titles {
	position: absolute;
	top: 0;
	left: 0;
	width: 380vw;
	height: 100vh;
	display: flex;
	pointer-events: none;
	z-index: 10;
}

.title {
	flex: 1;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.title h1 {
	text-align: center;
	font-size: 28px;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.2);
	transition: color 0.25s ease, opacity 0.25s ease;
}

.active h1 {
	color: white;
	opacity: 1;
}

.mobileSlideImages {
	display: none;
}

.slide-images {
	width: 850px;
	height: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	pointer-events: all;
	opacity: 0.5;
}

.img-top {
	position: absolute;
	width: 100%;
	height: 100%;
	clip-path: polygon(0% 0%, 85% 0%, 85% 50%, 0% 50%);
	transition: clip-path 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.img-bottom {
	position: absolute;
	width: 100%;
	height: 100%;
	clip-path: polygon(100% 50%, 15% 50%, 15% 100%, 100% 100%);
	transition: clip-path 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.slide-images:hover .img-top {
	clip-path: polygon(10% 0%, 90% 0%, 90% 50%, 10% 50%);
}

.slide-images:hover .img-bottom {
	clip-path: polygon(90% 50%, 10% 50%, 10% 100%, 90% 100%);
}

.seperatorLine {
	width: 97%;
	margin: auto;
	height: 1px;
	background-color: #b8b7b7;
}

.secondSection {
	background-color: rgb(92, 34, 12);
	width: 100%;
	min-height: 100vh;
	justify-content: center;
	align-items: end;
	position: relative;
}

.overlay2 {
	width: 100%;
	height: 300px;
	background: linear-gradient(#000, rgb(92, 34, 12));
	position: absolute;
	top: 0;
	z-index: 50;
}

.carTitle {
	width: 100%;
	height: fit-content;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	z-index: 80;
	top: -7%;
}

.carTitle h1 {
	font-size: 380px;
	color: #fff;
}

.carSlider {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 250;
	position: relative;
	--position: 50%;
	overflow: hidden;
}

.image-container {
	width: 100%;
}

.slider-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: left;
}

img {
	display: block;
	max-width: 100%;
}

.image-before {
	position: absolute;
	inset: 0;
	width: var(--position);
}

.slider {
	position: absolute;
	inset: 0;
	cursor: pointer;
	opacity: 0;
	width: 100%;
	height: 100%;
}

.slider:focus-visible ~ .slider-button {
	outline: 5px solid black;
	outline-offset: 3px;
}

.slider-line {
	position: absolute;
	inset: 0;
	width: 0.1rem;
	height: 100%;
	background-color: transparent;
	z-index: 10;
	left: var(--position);
	transform: translateX(-50%);
	pointer-events: none;
}

.slider-button {
	position: absolute;
	background-color: #fff;
	color: black;
	padding: 0.2rem;
	border-radius: 100vw;
	display: grid;
	place-items: center;
	top: 55%;
	left: var(--position);
	transform: translate(-50%, -50%);
	pointer-events: none;
	z-index: 100;
	box-shadow: 1px 1px 1px hsl(0, 50%, 2%, 0.5);
}

.thirdSection {
	width: 97%;
	margin: auto;
	height: fit-content;
}

/* .thirdSection .seperatorLine{
	width: 100%;
	height: 0.2px;
	margin-bottom: 6vw;
	background-color: #b8b7b7;
} */

.thirdSection .about {
	width: 100%;
	height: fit-content;
	padding-bottom: 5vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	border-radius: 10px;
	overflow: hidden;
}

.center {
	width: 55%;
	height: 100%;
	padding-left: 50px;
	display: flex;
	align-items: center;
	/* display: grid;
    place-items: center; */
}

.information {
	width: 80%;
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.mobilePara {
	display: none;
}

.infoTitle {
	display: flex;
	gap: 30px;
	/* justify-content: space-around; */
	align-items: center;
}

.verticleBar1 {
	width: 2px;
	height: 4.5vw;
	background-color: orangered;
}
.verticleBar2,
.verticleBar3 {
	width: 2px;
	height: 4.5vw;
	background-color: rgb(80, 74, 69);
}

.information h1 {
	text-transform: capitalize;
	font-family: "Big Shoulders Text";
	line-height: 1;
	font-size: 4.6vw;
	color: rgb(80, 74, 69);
}

.information h1:hover {
	cursor: pointer;
}

.information p {
	font-size: 18px;
	letter-spacing: 1px;
	font-family: "Big Shoulders Text";
	color: white;
}

.banner {
	width: 55%;
	height: 90vh;
	position: relative;
	border-radius: 10px;
	text-align: right;
	overflow: hidden;
}

.mobileBanner {
	display: none;
}

#mobilePower,
#mobileSpeed,
#mobileTime {
	opacity: 1;
}

.overlay3 {
	left: 0;
	bottom: 0;
	width: 100%;
	height: 30%;
	background: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 0.726) 50%,
		rgba(0, 0, 0, 1) 100%
	);
	position: absolute;
	padding: 10px 20px 0 20px;
	display: flex;
	justify-content: space-between;
	padding-top: 10%;
	align-items: start;
}

.overlay3 .t {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.overlay3 .topic {
	text-align: left;
	color: white;
}
.overlay3 .topic h1 {
	letter-spacing: 1px;
	font-family: "Big Shoulders Text";
	font-size: 1.7vw;
}
.overlay3 .topic p {
	font-family: "Syne";
	font-size: 16px;
}

.banner img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.banner video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.fourthSection {
	width: 97%;
	margin: 6vw auto;
	height: 100vh;
	border-radius: 10px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.info {
	width: 100%;
	height: 100%;
	display: flex;
	gap: 30px;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.info h1 {
	text-align: center;
	font-size: 4em;
	position: relative;
	z-index: 5;
	font-family: "Syne", sans-serif;
	color: white;
}

.info button {
	padding: 16px 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 12px;
	border: 1px solid black;
	color: black;
	background-color: #ffcc00;
	border-radius: 14px;
	font-size: 18px;
	font-family: "Syne", sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.2px;
	cursor: pointer;
	position: relative;
	z-index: 80;
	overflow: hidden;
	transition: color 5.8s ease;
	transition: background-color 0.8s ease;
}

.info button::after {
	content: "";
	width: 100%;
	z-index: -20;
	height: 100%;
	border: 1px solid black;
	background-color: black;
	font-weight: 700;
	position: absolute;
	left: -110%;
	bottom: 0;
	transition: all 0.5s ease;
}
.info button:hover {
	color: white;
	background-color: white;
}
.info button:hover::after {
	left: 0;
}

.fifthSection {
	width: 100%;
	height: fit-content;
	overflow: hidden;
	padding: 60px 0;
}

.scroll-section-inner {
	height: 110vh;
	padding-right: 30px;
	width: fit-content;
	display: flex;
	gap: 5vw;
	flex-direction: row;
	align-items: center;
	position: relative;
}

.fifthSection .title {
	display: flex;
	gap: 20px;
	padding-left: 50px;
	padding-right: 100px;
	flex-direction: column;
	align-items: start;
}

.fifthSection .title h4 {
	font-size: 22px;
	font-family: "Syne";
	color: rgb(161, 156, 156);
}

.fifthSection .title h1 {
	text-align: left;
	color: white;
	font-size: 7vw;
	font-weight: 900;
	line-height: 100%;
	font-family: "Space Mono";
}

.newsCard {
	position: relative;
	width: 517px;
	height: 700px;
	padding-left: 10px;
	padding: 10px;
	margin-bottom: 60px;
	display: flex;
	flex-direction: column;
	gap: 50px;
	justify-content: space-between;
	overflow: hidden;
}

.colorDiv {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	transform: translateY(100%);
	background-color: rgb(240, 98, 42);
	transition: all 0.5s cubic-bezier(0.5, 1, 0.75, 1);
}

/* .newsCard:hover .description h1, .newsCard:hover .description .no, .newsCard:hover .description p, .newsCard:hover #date{color: #0E0E0C;}

.newsCard:hover .colorDiv{
	transform: translateY(0%);
} */

.description {
	display: flex;
	gap: 15px;
	flex-direction: column;
	justify-content: space-between;
}

.description .no {
	color: white;
	font-family: "Syne";
	font-size: 15px;
}

.description h1 {
	font-size: 2.75vw;
	font-family: "Big Shoulders Text";
	font-weight: 900;
	color: white;
	letter-spacing: 1.4px;
	line-height: 110%;
}

.description p {
	color: white;
	font-weight: 200;
	font-size: 18px;
	letter-spacing: 0.5px;
	font-family: "grotesk2";
}

#date {
	font-size: 18px;
	text-align: end;
	font-family: "Big Shoulders Text";
	font-weight: 700;
	color: rgb(194, 190, 190);
}

.reverse {
	flex-direction: column-reverse;
}

.image {
	width: 100%;
	height: 240px;
	overflow: hidden;
}

.image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.scroll-section {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mobileFifthSection {
	display: none;
}

.sixthSection {
	overflow: hidden;
	color: white;
}

.container {
	padding-top: 5vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 97%;
	gap: 70px;
	margin: auto;
}

.content {
	padding-right: 20px;
}

.sixthSection .title {
	font-size: 15px;
	margin-bottom: 40px;
	display: flex;
	justify-content: end;
	opacity: 0.5;
	font-family: nuckle;
}

.text {
	/* font-size: 18px; */
	line-height: 1.5;
	margin-bottom: 20px;
	margin-top: 20px;
	/* width: 80%; */
}

.text h1 {
	padding-left: 2vw;
	font-family: "Big Shoulders Text";
	/* font-family: "Radio Canada Big"; */
	font-size: 45px;
}

.text .num {
	font-size: 18px;
	color: rgb(168, 166, 166);
	margin-bottom: 20px;
}
.image-container {
	width: 75%;
	height: 450px;
	overflow: hidden;
	border-radius: 10px;
	float: right;

	/* display: flex;
	justify-content:  flex-end; */
	/* margin-top: 20px; */
}
.image-container img {
	/* max-width: 75%;
 */
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

footer {
	background-color: #e45959;
}

footer h1 {
	color: white;
	font-size: 45px;
}
