@media (max-width: 768px) {
    .mousefollower{
        opacity: 0;
    }

    nav{
        padding: 3% 4%;
    }

    .logo{
        display: none;
    }

    .mob-logo {
        display: block;
        transform: none;
    }

    .hide{
        display: none;
    }

    .dark1 p {
        transform: translate(20px,-60px);
    }

    .dark5 p {
        font-size: 45px;
        transform: translate(-20px,-50px);
    }

    .nav-links{
        height: 7vw;
    }

    .nav-links a {
        font-size: 6vw;
    }
    
    .hero-text h1{
        transform: translate(5px,20vh);
        font-size: 12vw;  
        text-transform: uppercase;
        font-family: molitor;
        letter-spacing: 10px;
        font-weight: 900;  
        -webkit-text-fill-color:transparent ;
        -webkit-background-clip:text ;
    } 

    #menuBtn{
        bottom: 5vh;
    }

    .text-area, .text-area-hover{
        left: 19%;
        font-size: 22px;
        line-height: 220%;
    }

    .cursor-dot, .cursor-outline{
        display: none;
    }

    .fourthSection{
        height: 400px;
    }

    .info{
        width: 400px;
        gap: 130px;
    }

    .info button{
        padding: 16px 75px;
        font-size: 14px;
    }

    .test{
        width: 100%;
        height: 100vh;
        background: #000;
    }
  }